
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
      <title>Arbitrage viewer</title>
 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">


	<script>
    	function copyDivToClipboard() {
        	var range = window.getSelection().getRangeAt(0);
        	range.selectNode(document.getElementById("a"));
        	window.getSelection().addRange(range);
        	document.execCommand("copy")
    	}
	
	function WinOpen() {
		  var url=document.fiat_dropdown.fiat_currency.value + document.crypto_dropdown.crypto_currency.value;
	          document.location.href=url;

	}

        if(location.href.indexOf('fiat_currency') == -1){
		document.location.href='/?fiat_currency=EUR&crypto_currency=BTC';
	}

	</script>

</head>
<body>
 
    <div class="container has-text-centered">
        <div class="section columns">
            <div class="column is-8 is-offset-2">
	
		 <form name='fiat_dropdown'>
		 <label class="title is-5">Select Fiat currency:</label>   
		 <select name="fiat_currency"  onChange="WinOpen();"> 
			 	<script>
					if(location.search.split('fiat_currency=')[1].split('&')[0] == 'USD'){
						document.write('<option value="/?fiat_currency=USD" selected="selected">USD</option>');
				       	}
					else{
						document.write('<option value="/?fiat_currency=USD">USD</option>');
					}
				</script>
		 		<script>
					if(location.search.split('fiat_currency=')[1].split('&')[0] == 'EUR'){
						document.write('<option value="/?fiat_currency=EUR" selected="selected">EUR</option>');
				       	}
					else{
						document.write('<option value="/?fiat_currency=EUR">EUR</option>');
					}
				</script>
		 </select> 
		 </form>

	
		 <form name='crypto_dropdown'>
		 <label class="title is-5">Select Crypto currency:</label>   
		 <select name="crypto_currency" onChange="WinOpen();">
			 	<script>
					if(location.search.split('crypto_currency=')[1] == 'BTC'){
						document.write('<option value="&crypto_currency=BTC" selected="selected">BTC</option>');
				       	}
					else{
						document.write('<option value="&crypto_currency=BTC">BTC</option>');
					}
				</script>
			   	<script>
					if(location.search.split('crypto_currency=')[1] == 'ETH'){
						document.write('<option value="&crypto_currency=ETH" selected="selected">ETH</option>');
				       	}
					else{
						document.write('<option value="&crypto_currency=ETH">ETH</option>');
					}
				</script>
				<script>
					if(location.search.split('crypto_currency=')[1] == 'XRP'){
						document.write('<option value="&crypto_currency=XRP" selected="selected">XRP</option>');
				       	}
					else{
						document.write('<option value="&crypto_currency=XRP">XRP</option>');
					}
				</script>

		 </select> 
		 </form>

		<table class="table">
 		 <thead>
    			<tr>
      				<th></th>
				<th><abbr>Bitstamp</abbr></th>
				{{#ifLunoCurrency}}
				<th><abbr>Luno*</abbr></th>
				{{/ifLunoCurrency}}
				<th><abbr>CEX.IO</abbr></th>    
    				{{#ifDsxCurrency}}
				<th><abbr>DSX</abbr></th>
				{{/ifDsxCurrency}}
			</tr>
  		</thead>  
  		<tbody>
    			<tr>
				<th><abbr>Bitstamp</abbr></th> 
     				<td> <strong>X</strong> </td>
				{{#ifLunoCurrency}}
					{{#ifIsZero result.BS_LUNO_percentage }}			
						<td style="color:green; font-weight: bold;"> {{ result.BS_LUNO_percentage }}% </td>
						{{else}}
						<td style="color:red; font-weight: bold;"> {{ result.BS_LUNO_percentage }}% </td>
						{{/ifIsZero}}
				{{/ifLunoCurrency}}
				{{#ifIsZero result.BS_CEX_percentage }}			
				<td style="color:green; font-weight: bold;"> {{ result.BS_CEX_percentage }}% </td>
				{{else}}
				<td style="color:red; font-weight: bold;"> {{ result.BS_CEX_percentage }}% </td>
				{{/ifIsZero}}
				{{#ifDsxCurrency}}
					{{#ifIsZero result.BS_DSX_percentage }}			
					<td style="color:green; font-weight: bold;"> {{ result.BS_DSX_percentage }}% </td>
					{{else}}
					<td style="color:red; font-weight: bold;"> {{ result.BS_DSX_percentage }}% </td>
					{{/ifIsZero}}
				{{/ifDsxCurrency}}
			</tr>
			{{#ifLunoCurrency}}
			<tr>
				<th><abbr>Luno*</abbr></th>
      				{{#ifIsZero result.LUNO_BS_percentage }}			
				<td style="color:green; font-weight: bold;"> {{ result.LUNO_BS_percentage }}% </td>
				{{else}}
				<td style="color:red; font-weight: bold;"> {{ result.LUNO_BS_percentage }}% </td>
				{{/ifIsZero}}
				<td> <strong>X</strong> </td>
    				{{#ifIsZero result.LUNO_CEX_percentage }}			
				<td style="color:green; font-weight: bold;"> {{ result.LUNO_CEX_percentage }}% </td>
				{{else}}
				<td style="color:red; font-weight: bold;"> {{ result.LUNO_CEX_percentage }}% </td>
				{{/ifIsZero}}
				{{#ifIsZero result.LUNO_DSX_percentage }}			
				<td style="color:green; font-weight: bold;"> {{ result.LUNO_DSX_percentage }}% </td>
				{{else}}
				<td style="color:red; font-weight: bold;"> {{ result.LUNO_DSX_percentage }}% </td>
				{{/ifIsZero}}
			</tr>
			{{/ifLunoCurrency}}
			<tr>
				<th><abbr>CEX.IO</abbr></th>
      				{{#ifIsZero result.CEX_BS_percentage }}			
				<td style="color:green; font-weight: bold;"> {{ result.CEX_BS_percentage }}% </td>
				{{else}}
				<td style="color:red; font-weight: bold;"> {{ result.CEX_BS_percentage }}% </td>
				{{/ifIsZero}}
				{{#ifLunoCurrency}}
					{{#ifIsZero result.CEX_LUNO_percentage }}			
					<td style="color:green; font-weight: bold;"> {{ result.CEX_LUNO_percentage }}% </td>
					{{else}}
					<td style="color:red; font-weight: bold;"> {{ result.CEX_LUNO_percentage }}% </td>
					{{/ifIsZero}}
				{{/ifLunoCurrency}}
				<td> <strong>X</strong> </td>
				{{#ifDsxCurrency}}
					{{#ifIsZero result.CEX_DSX_percentage }}			
					<td style="color:green; font-weight: bold;"> {{ result.CEX_DSX_percentage }}% </td>
					{{else}}
					<td style="color:red; font-weight: bold;"> {{ result.CEX_DSX_percentage }}% </td>
					{{/ifIsZero}}
				{{/ifDsxCurrency}}
			</tr>    
			{{#ifDsxCurrency}}
  			<tr>
				<th><abbr>DSX</abbr></th>
      				{{#ifIsZero result.DSX_BS_percentage }}			
				<td style="color:green; font-weight: bold;"> {{ result.DSX_BS_percentage }}% </td>
				{{else}}
				<td style="color:red; font-weight: bold;"> {{ result.DSX_BS_percentage }}% </td>
				{{/ifIsZero}}
				{{#ifLunoCurrency}}
					{{#ifIsZero result.DSX_LUNO_percentage }}			
					<td style="color:green; font-weight: bold;"> {{ result.DSX_LUNO_percentage }}% </td>
					{{else}}
					<td style="color:red; font-weight: bold;"> {{ result.DSX_LUNO_percentage }}% </td>
					{{/ifIsZero}}
				{{/ifLunoCurrency}}
     				{{#ifIsZero result.DSX_CEX_percentage }}			
				<td style="color:green; font-weight: bold;"> {{ result.DSX_CEX_percentage }}% </td>
				{{else}}
				<td style="color:red; font-weight: bold;"> {{ result.DSX_CEX_percentage }}% </td>
				{{/ifIsZero}}
				<td> <strong>X</strong> </td>
			</tr> 
			{{/ifDsxCurrency}}
		</tbody>
		</table>
		<br/>
		Please donate 10% of what you make from this to any of <a href="http://bithope.org/campaigns">these</a> fine initiatives!
		<br/>
		<br/>
		{{#ifLunoCurrency}}
			*ZAR exchange rate of {{ result.exchange }} used for calculations
		{{/ifLunoCurrency}}
	    </div>
    </div>
 
</body>
</html>
